<table class="list">
  <tr>
    <th><%= l("multi_time_tracker_edit_table_head") %></th>
    <th><%= l("multi_time_tracker_issue_table_head") %></th>
    <th><%= l("multi_time_tracker_comment_table_head") %></th>
    <th><%= l("multi_time_tracker_activity_table_head") %></th>
    <th><%= l("multi_time_tracker_time_table_head") %></th>
    <th></th>
    <th></th>
    <th></th>
  <tr>
  <tbody id="tracked_times">
    <% @tracked_times.each do |time| %>
      <tr id="logged_data_<%= time.id %>" class="<%= cycle("even", "odd") %> <% if time.active %>active_time_logging<% end %>">
        <%= render :partial => "time_data", :locals => {:time => time} %>
      </tr>
    <% end %>
  </tbody>
</table>
