<h2><%= l(:multi_time_tracker_header) %></h2>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag("multi_time_tracker", :plugin => "multi_time_tracker") %>
  <%= javascript_include_tag("upcount", :plugin => "multi_time_tracker") %>
  <%= javascript_include_tag("ui", :plugin => "multi_time_tracker") %>
  <%= javascript_tag("var user_id = #{@user.id}") %>
<% end %>

<%= button_to((l :multi_time_tracker_export_all_button),  :action => 'export_all') %>

<div id="times_list_space">
  <%= render :partial => "times_list", :locals => {:tracked_times => @tracked_times} %>
</div>

<%= javascript_tag("
  if(window.addEventListener){
      window.addEventListener('load', startLoop, false); //W3C
  }
  else{
      window.attachEvent('onload', startLoop); //IE
  }
") %>